*~
#*#
configure
SlackBuild
docs/*.1
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
depcomp
dialer/jpilot-dial
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
jpilot
missing
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/quot.sed
po/stamp-it
stamp-h1
jpilot-dump
jpilot-merge
jpilot-sync
jpilot.spec
po/*.gmo
Makefile.in
*/Makefile.in
*.o
*/*.lo
*/*.la
Makefile
*/Makefile
.deps
*/*.deps
*/*.libs
