*~
#*#
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
.deps
*/*.deps
dialer/jpilot-dial
docs/*.1
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
jpilot
jpilot-dump
jpilot-merge
jpilot.spec
jpilot-sync
*/*.la
*/*.libs
libtool
*/*.lo
ltmain.sh
Makefile
*/Makefile
*/Makefile.in
Makefile.in
missing
*.o
po/*.gmo
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/quot.sed
po/stamp-it
SlackBuild
stamp-h1
po/*.po
m4/*

compile
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/remove-potcdate.sin
dist
