<ui>
    <menubar name="MainMenu">
        <menu name="File" action="FileMenuAction">
            <separator/>
            <menuitem name="_Find" action="FindAction" />
            <separator/>
            <menuitem name="_Install" action="InstallAction" />
            <menuitem name="Import" action="ImportAction" />
            <menuitem name="Export" action="ExportAction" />
            <menuitem name="Preferences" action="PreferencesAction" />
            <menuitem name="_Print" action="PrintAction" />
            <separator/>
            <menuitem name="Install User" action="InstallUserAction" />
            <menuitem name="Restore Handheld" action="RestoreHandheldAction" />
            <separator/>
            <menuitem name="_Quit" action="QuitAction" />
        </menu>
        <menu name="View" action="ViewMenuAction">
            <separator/>
            <menuitem name="Hide Private Records" action="HidePrivateRecordsAction" />
            <menuitem name="Show Private Records" action="ShowPrivateRecordsAction" />
            <menuitem name="Mask Private Records" action="MasKPrivateRecordsAction" />
            <separator/>
            <menuitem name="Datebook" action="DatebookAction" />
            <menuitem name="Addresses" action="AddressesAction" />
            <menuitem name="Todos" action="TodosAction" />
            <menuitem name="Memos" action="MemosAction" />
        </menu>
    </menubar>
</ui>